[Unit]
Description=My Flask App gunicorn daemon
After=network.target

[Service]
User=root
Group=root
WorkingDirectory=/MYFLASKAPP

ExecStart=/usr/local/bin/gunicorn --workers 4 --bind unix:/MYFLASKAPP/MYFLASKAPP.sock -m 664 wsgi:app
ExecReload=/bin/kill -s HUP $MAINPID
ExecStop=/bin/kill -s TERM $MAINPID

[Install]
WantedBy=multi-user.target