/* body{
	height: 100vh;
	background: -webkit-linear-gradient(-45deg, #FEC142,  #FF014A); 
    background: -o-linear-gradient(-45deg, #FEC142,  #FF014A); 
    background: -moz-linear-gradient(-45deg, #FEC142,  #FF014A); 
    background: linear-gradient(-45deg, #FEC142,  #FF014A);
}
*/
.container {

  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 1px) and (max-width: 767px) {

		h1{
			font-size: 300% !important;
		}

		h2{
			font-size: 200% !important;
		}

		p{

			line-height: 115% !important;
			font-size:94% !important; 
		}


		li {
			line-height: 120% !important;
			font-size:100% !important;
		}

		.icon {
			font-size: 0.3em !important;
		}


}
@media (min-width: 768px) {
  .container {
    width: 600px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}



#backpack-image {
	display:block;
	height: 30vh;
	margin-left: auto;
	margin-right: auto;
}

#scroll-image {
	position: absolute;
	display:block;
	height: 7vh;
	left: 0; 
	right: 0; 
	margin-left: auto; 
	margin-right: auto; 
	bottom: 3px;

	cursor: pointer;

	-webkit-filter: opacity(50%); filter: opacity(50%);
}

#me-image {
	display: block;
	height: 24vh;
	margin: 5vh 5%;
	border-radius: 50%;
	margin:3vh auto;
}

#postit-image {
	display:block;
	width: 65%;
	max-width: 600px;
	margin-left: auto;
	margin-right: auto;
}

#skills-image {
	display:block;
	width:20%;
	max-width: 600px;
	margin-left: auto;
	margin-right: auto;
}

#jake-image {
	display:block;
	width:20%;
	max-width: 600px;
	margin-left: auto;
	margin-right: auto;
}


h1{
	font-size: 400%;
	font-family:'Mandali', sans-serif;
	color:#575757;
	text-align: center;
}

h2{
	font-size: 200%;
	font-family:'Mandali', sans-serif;
	color:#575757;
	text-align: center;
}

p{
	/*letter-spacing: 1px;*/
	color:#777;
	line-height: 130%;
	font-size:170%;
	font-family:'Mandali', sans-serif;
}

a{
	text-decoration: underline;
	color: #175a91;
}


.nobulletpoints {
	list-style-type: none;
	margin-top: -20px;
}


li {
	color:#777;
	line-height: 130%;
	font-size:170%;
	font-family:'Mandali', sans-serif;
}

.star {
	height: 1em;
	margin-bottom:-3px;

}

.icon-tray {
	padding-top: 5vh;
	text-align: center;
	font-size: 1.5em;
}

.icon {
	margin: 0 2%;
	opacity: .8;
	transition: opacity .4s;
    transition: margin .4s;

}
.icon:hover {
    opacity: 1.0;
    margin: 0 3%;
    transition: opacity .4s;
    transition: margin .4s;
    }