<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Stjepan Brkic</title>

	<!-- Style -->
	<link rel="stylesheet" href="/static/style.css">

	<!-- Google Fonts -->
	<link href="https://fonts.googleapis.com/css?family=Mandali|Raleway" rel="stylesheet"> 

	<!-- Fontawesome -->
	<link rel="stylesheet" href="/static/fontawesome/css/font-awesome.min.css">

	<!-- fullpage.js scrolling -->

	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/2.9.2/jquery.fullPage.css" />



	<script src="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/2.9.2/jquery.fullPage.js"></script>


	<script type="text/javascript">
		$(document).ready(function() {
			$('#fullpage').fullpage({
				anchors: ['landing', 'info','details','experience','contact','skillsets','interests']
				});
		});
	</script>

</head>
<body>

<div id="fullpage">
	<div class="section">
		<div class="container">
			<h1>Stjepan Brkic</h1>
			<img src="/static/backpack.png" id="backpack-image">
			<h2>Another developer.</h2>
			<img src="/static/scroll.png" id="scroll-image" 
			onClick="window.location='#info'">
		</div>
	</div><!-- section -->

	<div class="section">
		<div class="container">
			<h2>Hello, my name is Stjepan Brkic.</h2>
			<img src="/static/me.jpg" id="me-image">
			<p>
			I am a versatile developer mostly focusting on backend-heavy web applications. I also enjoy working as a full-stack guy on different projects.
			</p>
			<p>
			I care about code efficiency and readability. I really really like/write clean and elegant code.
			</p>
			<p>
			Besides coding, I like maths and logic. Throw some Astronomy in there, too.
			</p>

		</div>
	</div><!-- section -->


	<div class="section">
		<div class="container">

			<h2>Details:</h2>
			<p>
			<strong>Age & occupation:</strong><br>
			I am a 19-year-old student, studying Computer Science and Electrical
			Engineering at <a href="https://en.wikipedia.org/wiki/Faculty_of_Electrical_Engineering_and_Computing,_University_of_Zagreb">FER</a>.
			</p>
			<p>
			<strong>Location:</strong><br>Zagreb, Croatia.
			</p>
			<img src="/static/postit.jpg" id="postit-image">
		</div>
	</div><!-- section -->


	<div class="section">
		<div class="container">

			<h2>Places I have worked at:</h2>

			<p>
				<strong>National Computer Science Competition</strong> [2016. - ongoing]<br>
				<ul class="nobulletpoints">
					<li>Committee member and judge for Softvare Development category</li>
					<li><a href="https://www.infokup.hr/">website</a></li>
				</ul>
			</p>


			<p>
			<strong>Jumpjet.io</strong> [2016. - ongoing]<br>
				<ul class="nobulletpoints">
					<li>python interviewer</li>
					<li><a href="https://www.jumpjet.io/">website</a></li>
				</ul>
			</p>


			<p>
				<strong>Dreams Collective</strong>  [2016. - 2017.]<br>
				<ul class="nobulletpoints">
					<li>API engineer</li>
					<li><a href="http://dreamscollective.info/">website</a></li>
				</ul>
			</p>

		</div>
	</div><!-- section -->


	<div class="section">
		<div class="container">

			<h2>Web presence:</h2>
			<p style="text-align: center;">
			Check out my GitHub if you want to see some of my projects. Also, feel absolutely free to follow/contact me on any of theese platforms.
			</p>
			<div class="icon-tray">
				<a href="#" class="icon"><i class="fa fa-github fa-5x" style="" aria-hidden="true"></i></a>
				<a href="#" class="icon"><i class="fa fa-google fa-5x" style="color:#4285F4" aria-hidden="true"></i></a>
				<a onclick="alert('My XMPP id: stjepan@badc0de.net\nBig thanks to @ivucica for the hosting.');" class="icon"><i class="fa fa-comment-o fa-5x" style="color:#FF5E00" aria-hidden="true"></i></a>
				<a href="#" class="icon"><i class="fa fa-medium fa-5x" style="color:#14C767" aria-hidden="true"></i></a>
			</div>
			<p style="text-align: center;">Or, you can send me a mail.</p>
			<div class="icon-tray">
				<a href="#" class="icon"><i class="fa fa-envelope-o fa-5x" aria-hidden="true"></i></a>
			</div>

			<p style="text-align: center;"><strong>Scroll down if you want to see my skillsets and other interests.</strong></p>
			<img src="/static/scroll.png" id="scroll-image" 
			onClick="window.location='#work-exp'">


		</div>
	</div><!-- section -->



	<div class="section">
		<div class="container">

			<h2>Skillsets:</h2>
			<p>
				<strong>Current skillset:</strong> &nbsp;Five &nbsp;<img class="star" src="/static/star.svg">
				<ul class="nobulletpoints">
					<li>Python 3</li>
					<li>MongoDB</li>
					<li>TensorFlow</li>
					<li>Flask</li>
					<li>Jinja2</li>
					<li>HTML/CSS/JS (soon to be depricated)</li>
					<li>Bootstrap 3</li>
					<li>Heroku, DigitalOcean</li>

				</ul>
			<p>

			<p>
				<strong>Background skillset:</strong>
				<ul class="nobulletpoints">
					<li>UNIX-like OSes</li>
					<li>C</li>
					<li>Git</li>
					<li>Markdown</li>
				</ul>
			<p>

			<p>
				<strong>Past skillset:</strong> &nbsp; Three&nbsp;<img class="star" src="/static/star.svg">
				<ul class="nobulletpoints">
					<li>PHP5</li>
					<li>MySQL</li>
				</ul>
			<p>
		</div>
	</div><!-- section -->


	<div class="section">
		<div class="container">

			<h2>Other Interests:</h2>
			<p>
			Here are some of my other interests:
			
			<ul>
				<li>Machine Learning / Neural Networks</li>
				<li>Site Service & Reliability engineering</li>
				<li>Parallel computing</li>
				<li>Artificial intelligence</li>
				<li>Watching '60s cartoons</li>
			</ul>
			<div style="position: absolute;
						bottom:0;
						left: 0;
						right: 0; 
						margin-left: auto; 
						margin-right: auto;">
				<img src="/static/jake.jpg" id="jake-image">
				<div style="font-size:70%; font-family:'Mandali', sans-serif;width: 20%;margin:0 auto;color:#575757;">You've reached the end, bud.</span>
			</div>
			</p>
			
		</div>
	</div><!-- section -->


</div><!-- fullpage -->
</body>
</html>