*{
	margin:0;
}


.fold{
	min-height: 100vh;
	min-width: 100%;
	background-color: #F9F4EF;
	border: 1px solid rgba(0,0,0,0.16);
}


#logo{
	height: 80vh;
	max-width: 70%;
	margin: 15px auto;
}

.tile h1 {
font-family: "Oswald";
font-size: 200%;
color: #FA6803;
}

.tile h2 {
font-family: "Oswald";
font-size: 180%;
color: #FA6803;
}

.tile p{
margin-top:5vh;
margin-bottom:3vh;
font-family: "Roboto Slab";
font-size: 100%;
color: #000000;
line-height: 170%;
}


.tile{
	width: 700px;
	max-width: 80%;
	text-align: center;
	margin: 12vh auto;
}


#code{
	min-width:30%;
	margin: 20vh auto;
}

#contact{
	min-width:30%;
	margin: 2vh auto;
}

/* MOBILE (NOT TABLETS) */
@media screen and (max-width: 699px) and (min-width: 0px) {
	.tile{
		width: 600px;
		max-width: 80%;
		text-align: center;
		margin: 8vh auto;
	}

	.tile h1{
		font-size: 150%;
	}

	.tile p{
		font-size: 90%;
		line-height: 130%;
	}
}

/* EVERYTHING LARGER THAN MOBILE */
@media screen and (min-width: 699px){
	.tile{
	width: 700px;
	max-width: 80%;
	text-align: center;
	margin: 12vh auto;
	}
	
	.tile h1{
	font-size: 200%;
	font-weight: bold;
	}

	.tile p{
	font-size: 130%;
	line-height: 170%;
	}
}






